[submodule "TraversyRepo"]
	path = TraversyRepo
	url = https://github.com/LKNYSO/TraversyRepo.git
[submodule "Traversy/GitHub2/TraversyRepo"]
                path = Traversy/GitHub2/TraversyRepo
                url = https://github.com/LKNYSO/dol/tree/GAdeploy/Traversy/GitHub2/TraversyRepo.git
