body{
    margin:0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
    color: rgb(39, 3, 3);
    line-height: 1.6;
}
/*text not visible,
need a background. Will opt 
to put background colour
in <p> and <h1> of showcase*/

#showcase{
    background-image: url("../../images/Nkcenkce.jpg");
    /*vh = viewport height; the entire height of the body*/
    height: 100vh;
    background-size: cover;
    background-position: top;
    display: flex;
    flex-direction: column;
    justify-content: center;/*vertical centre*/
    align-items: center;/*horizontal centre*/
    text-align: center;/*text ALWAYS centered*/
    padding: 0 20px;
    /* position: relative; */
}
#showcase h1{
    font-size: 50px;
    line-height: 1.2;
    background: beige;
    padding: 20px;
}
#showcasw p{
    font-size: 20px;
    background: beige;
    padding: 20px;
}

#showcase .button{
    font-size: 18px;
    text-decoration: none;
    color: rgb(39, 3, 3);
    border: rgb(39, 3, 3) 1px solid;
    padding: 10px 20px;
    border-radius: 10px;
}
#showcase .button:hover{
    background: rgb(39, 3, 3);
    color: #fff;
}
#sectionA{
    padding: 20px;
    background: rgb(39, 3, 3) ;
    color: khaki;
    text-align: center;
}
#sectionB{
    padding: 20px;
    background: rgb(231, 226, 181) ;
    text-align: center;
}
#sectionC{
    display: flex;
}
#sectionC div{
    padding: 20px;
}
#sectionC .box1{
    background: rgb(39, 3, 3) ;
    color: khaki;
}
#sectionC .box2{
    background: beige;
}